@import url('https://fonts.googleapis.com/css?family=Raleway:800|Source+Code+Pro:700');

$color-green:   #5cd03d;
$color-red:     #d84e4e;
$color-yellow:  #eab000;

$break-1:   400px;
$break-2:   700px;
$break-3:   1000px;
$break-4:   1300px;
$break-5:   1600px;
$break-6:   1900px;

// GENERAL

html {
    height: 100%;
}

body {
    background-color: #000;
    background-image: url('../images/big-screen-bgr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.3;
    margin: 0;
}

%button {
    color: #000;
    background-color: $color-yellow;
    border: none;
    flex: 1 1 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: 1rem;
    }
}

// BIG SCREEN

.button-play-pause {
    @extend %button;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
}

.bigscreen-layout {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 30%;
        margin: 2rem;

        &:last-child {
            text-align: right;
        }
    }
}

.data-group {

    &--twocol {
        display: flex;
        flex-wrap: wrap;
    }
}

.data {
    font-size: 1.5rem;
    margin: 0 0 2rem;

    &--large {
        font-size: 3rem;
        margin-bottom: 0;
    }

    &--twocol {
        flex: 1 1 50%;
    }

    &__label {
        color: $color-yellow;
        font-size: 1em;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }

    &__value {
        font-family: 'Source Code Pro', sans-serif;
        font-size: 1.5em;
        margin: 0;

        &--green {
            color: $color-green;
        }

        &--red {
            color: $color-red;
        }
    }

    &__bar-chart {
        background-color: rgba(0,0,0,0.5);
        display: flex;
        justify-content: flex-end;
        margin-top: 0.4em;
        position: relative;

        &--value-75 {
            .data__triangle--25,
            .data__triangle--50,
            .data__triangle--75 {
                border-bottom-color: white;
            }
        }

        &--value-50 {
            .data__triangle--25,
            .data__triangle--50 {
                border-bottom-color: white;
            }
        }

        &--value-25 {
            .data__triangle--25 {
                border-bottom-color: white;
            }
        }

        &--red {
            .data__bar {
                background-color: $color-red;
            }
        }
    }

    &__bar {
        background-color: #fff;
        flex: 0 0 auto;
        float: right;
        height: 4px;
    }

    &__triangle {
        border-bottom: 7px solid rgba(0,0,0,0.5);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        top: 10px;
        right: 0;
        transform: translatex(7px);

        &--25 {
            right: 25%;
        }

        &--50 {
            right: 50%;
        }

        &--75 {
            right: 75%;
        }
    }

}

// TASKS SCREEN

.tasks-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tasks-header {
    border-bottom: 1px solid #fff;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__role {
        text-transform: uppercase;
    }

    &__score {
        text-transform: uppercase;
    }
}

.task {
    flex: 1 1 auto;
    padding: 1rem;
    overflow: auto;

    &__label {
        color: $color-green;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    &__condition {
        color: $color-green;
    }

    &__text {
        font-size: 1.5em;
        margin: 0;
    }
}

.task-actions {
    padding: 1rem;

    &__label {
        margin-top: 0;
        text-transform: uppercase;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        @extend %button;
        font-family: 'Source Code Pro', sans-serif;
    }
}
